/* @tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}
